<section class="category section">
    <div class="container">
        <h2 class="section-title">Specialities</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="browse-jobs.html">
                        <div class="icon">
                            <i class="ti-home"></i>
                        </div>
                        <h3 class="Text-Capatilize">Women Psychological problems</h3>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="browse-jobs.html">
                        <div class="icon">
                            <i class="ti-heart"></i>
                        </div>
                        <h3 class="Text-Capatilize">Child and Adolescents Problems</h3>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category ">
                    <a href="browse-jobs.html ">
                        <div class="icon ">
                            <i class="ti-wheelchair"></i>
                        </div>
                        <h3 class="Text-Capatilize ">Stress in Relationship</h3>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category ">
                    <a href="browse-jobs.html ">
                        <div class="icon ">
                            <i class="ti-book "></i>
                        </div>
                        <h3 class="Text-Capatilize ">Academic</h3>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category ">
                    <a href="browse-jobs.html ">
                        <div class="icon ">
                            <i class="ti-brush "></i>
                        </div>
                        <h3 class="Text-Capatilize ">Memory Problems</h3>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category ">
                    <a href="browse-jobs.html ">
                        <div class="icon ">
                            <i class="ti-heart "></i>
                        </div>
                        <h3 class="Text-Capatilize ">Addictions</h3>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category ">
                    <a href="browse-jobs.html ">
                        <div class="icon ">
                            <i class="ti-filter "></i>
                        </div>
                        <h3 class="Text-Capatilize ">Sexual Problems</h3>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category ">
                    <a href="browse-jobs.html ">
                        <div class="icon ">
                            <i class="ti-cup "></i>
                        </div>
                        <h3 class="Text-Capatilize ">Psycho-somatic disorders</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="featured-jobs section ">
    <div class="container ">
        <h2 class="section-title ">
            Doctors
        </h2>
        <div class="row ">
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="featured-item ">
                    <div class="featured-wrap ">
                        <div class="featured-inner ">
                            <figure class="item-thumb ">
                                <a class="hover-effect ">
                                    <img src="~/Content/img/features/DrKaveri.jpg" alt="Doctor Photo">
                                </a>
                            </figure>
                            <div class="item-body ">
                                <h3 class="job-title "><a href="job-page.html ">DR. KAVERI CHOGULE</a></h3>
                                <div class="adderess"> MD Psychiatry, M.A.P.A.(USA)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="featured-item ">
                    <div class="featured-wrap ">
                        <div class="featured-inner ">
                            <figure class="item-thumb ">
                                <a class="hover-effect ">
                                    <img src="~/Content/img/features/img-1.jpg " alt=" ">
                                </a>
                            </figure>
                            <div class="item-body ">
                                <h3 class="job-title "><a href="job-page.html ">DR. NIKHIL CHOUGULE</a></h3>
                                <div class="adderess ">MD Psychiatry,MD Physician,M.A.P.A. (USA)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="featured-item ">
                    <div class="featured-wrap ">
                        <div class="featured-inner ">
                            <figure class="item-thumb ">
                                <a class="hover-effect">
                                    <img src="~/Content/img/features/img-1.jpg " alt=" ">
                                </a>
                            </figure>
                            <div class="item-body ">
                                <h3 class="job-title "><a href="job-page.html ">DR.P.M.CHOUGULE</a></h3>
                                <div class="adderess ">MD Psychiatry</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="blog" class="section" style="padding-top: 0px;">
    <div class="container">
        <h2 class="section-title">
            Latest News
        </h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">
                <div class="blog-item-wrapper">
                    <div class="blog-item-img">
                        <a href="single-post.html">
                            <img src="~/Content/img/blog/home-items/img1.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-item-text">
                        <div class="meta-tags">
                            <span class="date"><i class="ti-calendar"></i> Dec 20, 2017</span>
                            <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                        </div>
                        <a href="single-post.html">
                            <h3>
                                Tips to write an impressive resume online for beginner
                            </h3>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                        </p>
                        <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                    </div>
                </div>
              
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">
                
                <div class="blog-item-wrapper">
                    <div class="blog-item-img">
                        <a href="single-post.html">
                            <img src="~/Content/img/blog/home-items/img2.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-item-text">
                        <div class="meta-tags">
                            <span class="date"><i class="ti-calendar"></i> Jan 20, 2018</span>
                            <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                        </div>
                        <a href="single-post.html">
                            <h3>
                                Let's explore 5 cool new features in JobBoard theme
                            </h3>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                        </p>
                        <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                    </div>
                </div>
               
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">
               
                <div class="blog-item-wrapper">
                    <div class="blog-item-img">
                        <a href="single-post.html">
                            <img src="~/Content/img/blog/home-items/img3.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-item-text">
                        <div class="meta-tags">
                            <span class="date"><i class="ti-calendar"></i> Mar 20, 2018</span>
                            <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                        </div>
                        <a href="single-post.html">
                            <h3>
                                How to convince recruiters and get your dream job
                            </h3>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                        </p>
                        <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="infobox section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="info-text">
                    <h2 class="text-center">Chairman's Message</h2>
                    <p>Description</p>
                </div>
            </div>
        </div>
    </div>
</section>