<div class="row">
    <div class="container">
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCwVskqxpPiPoggBOzpdTWV8GVCiY7JIL4'></script>
        <script src="~/Scripts/fitframe.js"></script>
        <div style='overflow:hidden;height:275px;width:100%;'>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15286.370279716997!2d74.2441088!3d16.6972596!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3063ad05aca86494!2sHorizon+Mind+Care+Clinic!5e0!3m2!1sen!2sin!4v1495696604618" width="1400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            <script type='text/javascript'>
                $('.container').fitFrame({
                    mode: 'resize'
                });
            </script>
        </div>
    </div>
</div>