
<section id="testimonial" class="section col-12 col-sm-3 col-lg-2">
    <div class="container">
        <div class="row">
            <div class="touch-slider owl-carousel owl-theme">
                <div class="item active text-center">
                    <div class="img-member"> </div>
                    <div class="client-info">
                        <h2 class="client-name">Anonymous <span>(Senior Accountant)</span></h2>
                    </div>
                    <p>
                        <i class="fa fa-quote-left quote-left"></i>Therapist in horizon mind care is fantastic. It would have been better is they kept their qualifications in the office board also. That would give an additional confidence to the clients.<i class="fa fa-quote-right quote-right"></i>
                    </p>
                </div>
                <div class="item text-center">
                    <div class="img-member"> </div>
                    <div class="client-info">
                        <h2 class="client-name">Anonymous <span>(Engineer)</span></h2>
                    </div>
                    <p>
                        <i class="fa fa-quote-left quote-left"></i> Came here with an anxiety issue and lots of problems which I was not aware of. Thanks to horizon mind care who really showed me right path in life and gave me an idea of self realization. Now everything in life is clear<i class="fa fa-quote-right quote-right"></i>
                    </p>
                </div>
                <div class="item text-center">
                    <div class="img-member"> </div>
                    <div class="client-info">
                        <h2 class="client-name">Anonymous <span>(Manger)</span></h2>
                    </div>
                    <p>
                        <i class="fa fa-quote-left quote-left"></i> How do I overcome anxiety at work?<i class="fa fa-quote-right quote-right"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>