@{
    ViewBag.Title = "Academic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="find-job section">
    <div class="container">
        <h2 style="font-size: 25px;" class="section-title animated lightSpeedIn">Academic Problems</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="job-list">
                    <div class="thumb">
                        <img style="float:left;padding-right:50px" src="~/Content/img/facility/academic.jpg" alt="">
                    </div>
                    <div class="job-list-content">
                        <p>
                            Worldwide 10-20% of children and adolescents experience mental disorders. Neuropsychiatric conditions are the leading cause of disability in young people in all regions. If untreated, these conditions severely influence children’s development, their educational attainments and their potential to live fulfilling and productive lives.
                        </p>
                        <p>
                            The following are the symptoms to be noted early to find the psychological symptoms in Child as well Adolescent.
                        </p>
                        <p>
                            <ul>
                                A)	ACADEMIC ISSUES:
                                <li>A)	Reflected Failures.</li>
                                <li> B)	Difficulty in Particular Subject.</li>
                                <li>C)	Reading and Writing Difficulties.</li>
                                <li> D)	Falling Academic Graph.</li>
                                <li> E)	Less Concentration in Studies &Work.</li>
                                <li> F)	Indecisiveness.</li>
                                <li>  G)	Unwanted Fear.</li>
                            </ul>
                        </p>
                        <p>
                            <ul>
                                B)	BEHAVIOURAL  ISSUES:
                                <li>1.	Trouble in Attention.</li>
                                <li> 2.	Restlessness, Hypertension.</li>
                                <li> 3.	Lack Of Concentration.</li>
                                <li> 4.	Inattention.</li>
                                <li> 5.	Lying .</li>
                                <li> 6.	Bunk School / Truancy.</li>
                                <li> 7.	Anger Out Burst.</li>
                            </ul>
                        </p>
                        <p>
                            <ul>
                                C)	PERSONALITY  ISSUES:
                                <li> 1.	Hyperactive</li>
                                <li>  2.	Antisocial Behavioral</li>
                                <li> 3.	Unstable Mood</li>
                                <li> 4.	Suicidal Thoughts</li>
                                <li> 5.	Fantancy / Excessive Day Dreaming</li>
                                <li>  6.	Doughtfulness /Suspicousnery</li>
                                <li> 7.	Undeciplinery / Refuse To Follow Rules</li>
                                <li> 8.	Repetition Behavior</li>
                            </ul>
                        </p>
                        <p>
                            <ul>
                                D)	HABIT ISSUES
                                <li> 1.	Thumb Sucking</li>
                                <li> 2.	Bed Wetting</li>
                                <li>  3.	Hair Pulling.</li>
                            </ul>
                        </p>
                        <p>
                            <ul>
                                E)	ADDICTION ISSUES
                                <li>1.	Smartphone</li>
                                <li>2.	Games</li>
                                <li> 3.	Internet</li>
                                <li> 4.	Facebook</li>
                                <li> 5.	Whatsapp</li>
                                <li> 6.	Alcohol</li>
                                <li> 7.	Tobacco, Drugs, Whitener Taking Habit Etc.</li>
                            </ul>
                        </p>
</div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    var a = document.getElementById("carousel-example-generic")
    a.style.display = 'none';
    var b = document.getElementById("route")
    b.style.display = 'none';
</script>
