@{
    ViewBag.Title = "Child Problems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="find-job section">
    <div class="container">
        <h2 style="font-size: 25px;" class="section-title animated lightSpeedIn">Child and Adolescent psychological problems :</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="job-list">
                    <div class="thumb">
                        <img style="float:left;padding-right:50px" src="~/Images/child.jpg" alt="">
                    </div>
                    <div class="job-list-content">
                        <p style="font-size:22px">
                            <h5> Academic issues:</h5> Repeated failures, difficulty in particular subject,Reading and writing difficulties, falling academic graph.
                            <h5> Behavioural issues: </h5> Trouble in attention, lack of concentration, anger outburst, impulsive, restlessness, hyperactive, lying, stealing, truancy.
                            <h5> Personality issues:</h5> Excessive shyness,suicidal ideas,unstable mood, antisocial, excessive day dreaming.
                            <h5> Habit issues : </h5>  thumb sucking, bed wetting, hair pulling.
                            <h5>Addiction  : </h5> smartphone – games, internet facebook,whatsapp. Alcohol,tobacco,cannabis etc.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    var a = document.getElementById("carousel-example-generic")
    a.style.display = 'none';
    var b = document.getElementById("contact")
    b.style.display = 'none';
    var b = document.getElementById("spec")
    b.style.display = 'none';
    var b = document.getElementById("latest")
    b.style.display = 'none';
    var b = document.getElementById("route")
    b.style.display = 'none';
</script>
