@{
    ViewBag.Title = "Child Problems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="find-job section">
    <div class="container">
        <h2 style="font-size: 25px;" class="section-title animated lightSpeedIn">Child and Adolescent psychological problems :</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="job-list">
                    <div class="thumb">
                        <img style="float:left;padding-right:50px;" height="300" width="500" src="~/Content/img/facility/banner_large.jpg" alt="">
                    </div>
                    <div class="job-list-content">
                        <p>
                            <h3> Academic issues:</h3> Repeated failures, difficulty in particular subject,Reading and writing difficulties, falling academic graph.
                            <h3> Behavioural issues: </h3> Trouble in attention, lack of concentration, anger outburst, impulsive, restlessness, hyperactive, lying, stealing, truancy.
                            <h3> Personality issues:</h3> Excessive shyness,suicidal ideas,unstable mood, antisocial, excessive day dreaming.
                            <h3> Habit issues : </h3>  thumb sucking, bed wetting, hair pulling.
                            <h3>Addiction  : </h3> smartphone – games, internet facebook,whatsapp. Alcohol,tobacco,cannabis etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    var a = document.getElementById("carousel-example-generic")
    a.style.display = 'none';
    var b = document.getElementById("route")
    b.style.display = 'none';
</script>
