@{
    ViewBag.Title = "Memory Problems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="find-job section">
    <div class="container">
        <h2 style="font-size: 25px;" class="section-title animated lightSpeedIn">Memory Problems</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="job-list">
                    <div class="thumb">
                        <img style="float:left;padding-right:50px" width="400" src="~/Content/img/facility/canstockphoto11034193.jpg" alt="">
                    </div>
                    <div class="job-list-content">
                      
                            <h4>Dementia:</h4>
                        <p>
                            forgetting day to day activity, unable to recognize family members, irritable,disturbed sleep,poor self care.
                            Want to build your self-esteem, identity, dreams and want to live a meaningfull life then join us at HORIZON mind care clinic with advanced facilities like
                        </p>
                        <ul >
                            Testing for children :
                            <li> I.Q testing- Intelligence Quotient</li>
                            <li> WISC-Wechsler Intelligence Scale for Children,</li>
                            <li>   VSMS- Vineland Social Maturity Scale,</li>
                            <li> BKT- Binet kamat testing</li>
                            <li> Bhatia battery.</li>
                            <li>Aptitude test and career councelling.</li>
                          
                        </ul>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    var a = document.getElementById("carousel-example-generic")
    a.style.display = 'none';
    var b = document.getElementById("route")
    b.style.display = 'none';
</script>