@{
    ViewBag.Title = "Psychosomaticdisorders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="find-job section">
    <div class="container">
        <h2 style="font-size: 25px;" class="section-title animated lightSpeedIn">Anxiety and phobic disorders: </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="job-list">
                    <div class="thumb">
                        <img style="float:left;padding-right:50px" width="400" src="~/Content/img/facility/anxiety_disorder.png" alt="">
                    </div>
                    <div class="job-list-content">
                        <p>
                            apprehension, restlessness, indecisiveness, intense tension, breathlessness ,sweating, tremors, palpitation,fear of death.

                        </p>

                        <h3>Psychosis and schizophrenia: </h3>
                        <p>
                            <ul>
                                <li>1.  Over Suspiciousness</li>
                                <li> 2.	Muttering</li>
                                <li>  3.	Laughing For No Reason</li>
                                <li> 4.	Poor Self Care</li>
                                <li> 5.	Aggressiveness</li>
                                <li> 6. Abusive Behaviour</li>
                                </ul>
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    var a = document.getElementById("carousel-example-generic")
    a.style.display = 'none';
    var b = document.getElementById("route")
    b.style.display = 'none';
</script>