@{
    ViewBag.Title = "Stress In RelationShip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="find-job section">
    <div class="container">
        <h2 style="font-size: 25px;" class="section-title animated lightSpeedIn">Stress In RelationShip</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="job-list">
                    <div class="thumb">
                        <img style="float:left;padding-right:50px" src="~/Images/stress in realtion.jpg" alt="">
                    </div>
                    <div class="job-list-content">
                        <div style="position:static">
                            <p style="font-size:22px">
                                Feeling low, have lost interest in work, easily irritable,

                                disturbed sleep, feeling of hopelessness, helplessness,

                                worthlessness.suicidal thoughts,Unwanted repeative thinking

                                unable to stop, unnecessary fear.

                                Having mood swings,depressZion,anxiety before the menses.

                                Menopausal symptoms like irritability,anxiety etc..
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    var a = document.getElementById("carousel-example-generic")
    a.style.display = 'none';

    var b = document.getElementById("contact")
    b.style.display = 'none';
    var b = document.getElementById("spec")
    b.style.display = 'none';
    var b = document.getElementById("latest")
    b.style.display = 'none';
    var b = document.getElementById("route")
    b.style.display = 'none';

</script>