@{
    ViewBag.Title = "Women psychological Problems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="find-job section">
    <div class="container">
        <h2 style="font-size: 25px;" class="section-title animated lightSpeedIn">Women psychological Problems</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="job-list">
                    <div class="thumb">
                        <img style="float:left;padding-right:50px"  width="400" src="~/Content/img/facility/Womenprobs.png" alt="">
                    </div>
                    <div class="job-list-content">
                        <p>
                            <p> Mental disorders can affect women and men differently. Some disorders are more common in women such as depression and anxiety. There are also certain types of depression that are unique to women. The symtoms of depression are feeling low, have lost interest in work, easily irritable, feeling lonely, disturbed sleep, feeling of hopelessness, helplessness, worthlessness, suicidal thoughts, Unwanted repeative thinking unable to stop, unnecessary fear.</p>
                        <p>If you are one who is experiencing depression, an anxiety disorder, or any type of stess  or another mental health condition, you are not alone.</p>
                        <p> According to a recent survey about 23- 30 % of women, have experienced one or other mental health-related disorder.Many of another millions of other cases may go unreported and untreated..</p>
                            <p><h4> Depression :</h4> Women are twice as likely as men to get depression.</p>
                        <p> <h4>Anxiety and specific phobias :</h4> women are twice as likely as men to have panic disorder, generalized anxiety, and specific phobias. Post-traumatic stress syndrome (PTSD). Women are twice as likely to develop PTSD following a traumatic event.</p>
                        <p> Suicide attempts. Men die from suicide at four times the rate that women do, but women attempt suicide two or three times more often than men.</p>
                        <p><h4>  Eating disorders :</h4> Women account for at least 85% of all anorexia and bulimia cases and 65% of binge-eating disorder cases.</p>
                        <p> What goes on in the female brain and body to differentiate these responses to mental illness:</p>
                        <p>   Biological influences : Female hormonal fluctuations play a role in mood and depression. The hormone estrogen can have positive effects on the brain  from severe symptoms during certain phases of their menstrual cycles and maintaining the structure of neurons in the brain. Women tend to produce less of the mood stabilizer serotonin and synthesize it more slowly than men, which may account for the higher rates of depression. </p>
                        <p>   Having mood swings, depression, anxiety before 7-8 days of the menses. Menopausal symptoms like irritability,anxiety mood swings,unknown fear etc. In all  these conditions hormones play a major role.</p>
                        <p>   Socio-cultural influences : Despite strides in gender equality, women still face challenges when it comes to socio-economic power, status, position, and dependence, which can contribute to depression and other disorders. Women are still the primary caregivers for children, and it is estimated that they also provide 80% of all caregiving for chronically ill elders, which adds stress to a woman’s life.</p>
                        <p>   women tend to become dissatisfied with their bodies at puberty, a reaction that is linked to depression. Girls are also sexually abused more often which can lead to depression and panic disorder.</p>

                            <ul>
                                <li><h5>Some important list of symptoms which indicate women suffering from psychological disorders:</h5></li>
                                <li>1. Increases Worries</li>
                                <li>2. Low Self Esteem</li>
                                <li> 3. Negative Thinking</li>
                                <li> 4. Irritability</li>
                                <li> 5. Sleep Problem / Decreases Sleep</li>
                                <li> 6. Indecisiveness</li>
                                <li> 7. Disturbed Appetite / Intake</li>
                                <li>8. Unnecessary Fear / Unknown Fear</li>
                                <li>9. Low Mood /Sadness</li>
                                <li> 10. Loneliness</li>
                                <li> 11. Decreases Talk</li>
                                <li> 12. Low Confidence</li>
                                <li> 13. Loss Of Interest In Work</li>
                                <li> 14. Worthlessness, Hopelessness.</li>
                                <li> 15. Restlessness, Helplessness</li>
                                <li> 16. Suicidal Thoughts</li>
                                <li> 17. Repetitive negative unwanted Thoughts</li>
                                <li> 18. Unwanted Excessive Doubts</li>
                                <li> 19. Suspiciousness</li>
                                <li> 20. Decreased concentration</li>
                            </ul>
                        
                            <p>
                                Worldwide about 10% of pregnant women and 13% of women who have just given birth experience a mental disorder, primarily depression. In developing countries this is even higher, i.e. 15.6% during pregnancy and 19.8% after child birth. In severe cases mothers’ suffering might be so severe that they may even commit suicide. In addition, the affected mothers cannot function properly. As a result, the children’s growth and development may be negatively affected as well. Maternal mental disorders are treatable. Effective interventions can be delivered even by well-trained non-specialist health providers.</p>
                          <p><u><b>How to recognise depression?</b></u></p>
                        <p> Initially you feels sad or empty then there is diminished interest or pleasure in most activities.Unable to pay or focus attention on the work,not able to make decision,feeling  fatigue,Weight gain or weight loss; sleep being disturbed ,feelings of worthlessness or guilt,recurrent thoughts of death.</p>
                        <p> Many women experience changes in their body or mood before their menstrual flow begins. Premenstrual Syndrome (PMS) is the name given to a collection of physical and emotional symptoms that can occur in the two weeks before a woman's period.About 20-40% of women experience symptoms of PMS, while 2-10% report disruption of their daily activities.</p>
                        <p> Each woman's symptoms are different; they may be mainly physical, psychological, or both. Common physical symptoms include tender breasts, headache, fluid retention and a feeling of being bloated. Common psychological symptoms include fatigue, mild mood swings, irritability, anxiety and depression.</p>
                        <p> The severity of PMS varies, some women experience severe psychological symptoms that impact on daily functioning in the weeks before their period. Severe cases of PMS are sometimes recognised as Premenstrual Dysphoric Disorder (PMDD), and usually show severe symptoms of depression, anxiety, and irritability before menstruation begins. Approximately 2-10% of menstruating women experience PMDD.</p>
                        <p> The other entity which leads to depression is MENOPAUSE which is usually around 40-50 years of age. Some women go through menopause without any unpleasant symptoms,but others find menopausal symptoms debilitating, beginning even during perimenopause and lasting for years.</p>
                        <p> The symptoms that women experience are primarily related to a lowered production of the female sex hormones estrogen and progesterone.the symptoms are  hot flashes, night sweats, irregular periods, loss of libido, vaginal dryness,irritability,mood swings,deceresed sleep or any other.</p>
                        <p>  So my dear friends  to have a  good mental health, we need to make the most of our potential to cope with life and to play a full part in our family, workplace, community and among friends. And mental health ‘emotional health’ or ‘well-being’ and it’s just as important as good physical health.</p>
                        <p>  There’s a stigma attached to mental health problems. This means that people feel uncomfortable about them and don’t talk about them much. Many people don’t even feel comfortable talking about their feelings. But it’s healthy to know and say how you’re feeling.</p>
                        <h5><u><b> Other problems:</b></u></h5>
                        <p><h5><u> Anxiety and phobic disorders:</u></h5> apprehension, restlessness, indecisiveness, intense tension, breathlessness ,sweating, tremors, palpitation,fear of death.</p>
                        <p> <h5><u> Psychosis and schizophrenia:</u></h5> suspiciousness, excessive doubts, beliefs, muttering, laughing for no reason, hearing non existential voices, aggressive, abusive, poor self care, disturbed sleep, irregular food intake.</p>
                        <p> <h5><u>Dementia:</u></h5> forgetting day to day activity, unable to recognize family members, irritable,disturbed sleep,poor self care.</p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    var a = document.getElementById("carousel-example-generic")
    a.style.display = 'none';
    //var b = document.getElementById("contact")
    //b.style.display = 'none';
    //var b = document.getElementById("spec")
    //b.style.display = 'none';
    //var b = document.getElementById("latest")
    //b.style.display = 'none';
</script>