@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Addictions</title>

    <link rel="shortcut icon" href="~/Content/img/favicon.png">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/fonts/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/fonts/themify-icons.css">
    <link rel="stylesheet" href="~/Content/css/main.css" type="text/css">
</head>
<body>
    <div style="background-color:light">
        <h1>People can develop an addiction to:</h1>

        <p>Addiction is a complex condition, a brain disease that is 
        manifested by compulsive substance use despite harmful consequence. 
        People with addiction (severe substance use disorder) have an intense focus on using a certain substance(s), 
        such as alcohol or drugs, to the point that it takes over their life. They keep using alcohol or a drug even when they know it will causes problems. 
        Yet a number of effective treatments are available and people can recover from addiction and lead normal, productive lives.</p>
    </div>
    
   
</body>
</html>
