@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>
            Academic issues: Repeated failures, difficulty in particular

            subject,Reading and writing difficulties, falling academic

            graph.

            <h5> Behavioural issues</h5>: Trouble in attention, lack of

            concentration, anger outburst, impulsive, restlessness,

            hyperactive, lying, stealing, truancy.

            <h5>Personality issues</h5>: Excessive shyness,suicidal ideas,unstable

            mood, antisocial, excessive day dreaming.

            <h5>  Habit issues</h5> : thumb sucking, bed wetting, hair pulling.

            <h5>   Addiction</h5> : smartphone – games, internet

            facebook,whatsapp. Alcohol,tobacco,cannabis etc.
        </p>
    
    </div>
</body>
</html>
