@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1> Mental Health Issues in Women</h1>
        <p>
            Feeling low, have lost interest in work, easily irritable,

            disturbed sleep, feeling of hopelessness, helplessness,

            worthlessness.suicidal thoughts,Unwanted repeative thinking

            unable to stop, unnecessary fear.

            Having mood swings,depressZion,anxiety before the menses.

            Menopausal symptoms like irritability,anxiety etc..
        </p>
    </div>
</body>
</html>
