
@{
    ViewBag.Title = "DoctorTalk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="find-job section">
    <div class="container">
        <h2 style="font-size: 25px;" class="section-title animated lightSpeedIn">Dr.Kaveri Chougule Talk Regarding - HORIZON mind care clinic</h2>
        <div class="row">
            <div class="col-md-12">
                    <div class="video-container"><iframe width="853" height="480" src="https://www.youtube.com/embed/filzz-fH6_U" frameborder="0" allowfullscreen></iframe></div>

            </div>
        </div>
    </div>
</section>
<style type="text/css">
   .video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
</style>
<script>

    var a = document.getElementById("carousel-example-generic")
    a.style.display = 'none';
    var b = document.getElementById("route")
    b.style.display = 'none';
</script>



